body {
}

header {
  text-align: center;
  margin: auto;
}

.menu{
  text-align: center;
  font-size: 30px;
}

.ContentPage{
  border: 1px;
}

.Post {
  background: #ffffff;
  width: 75%;
}

.TitleTimeline{
  font-size: 50px;
  text-align: center;
}

.StatusPost img{
  border-radius: 100%;
  height: 50px;
  width: 50px;

}

.SideBar{
  float: right;
  height: 300px;
}

.Footer {
  text-align: center;
  bottom: 0;
  left: 50%;
}
